$color-de-fondo: #0b1132; // Color de fondo: Negro
$color-texto: #ffffff; // Color de texto: Blanco
$color-principal: #10cff1; // Color principal: Dorado
$color-secundario: orange; // Color secundario: Azul Eléctrico
$button-text-color: white; // Color de texto en botones: Blanco
$color-acento: #80f110; // Color de acento: Verde Lima (añadido como opción)
$color-secundario-1: #c0fafb; // Color secundario: Azul Eléctrico
