@import "variables";

.empresa-container {
  background-color: $color-de-fondo; /* Fondo oscuro */
  color: $color-texto; /* Color del texto */
  padding: 10px;
  margin: 20px auto;
  border-radius: 8px;
  max-width: 1000px;
  line-height: 1.8; /* Mejora la legibilidad */
  font-family: "Arial", sans-serif; /* Fuente profesional */
}

.empresa-titulo {
  font-size: 3em; /* Título principal más grande */
  color: $color-principal; /* Color principal */
  margin-bottom: 20px;
  text-align: center; /* Centra el título */
}

.empresa-subtitulo {
  font-size: 2.5em; /* Subtítulos más grandes */
  color: $color-secundario; /* Color secundario */
  margin-top: 30px;
  margin-bottom: 15px;
}

.empresa-subsubtitulo {
  font-size: 2em; /* Sub-subtítulos */
  color: $color-principal;
  margin-top: 20px;
  margin-bottom: 10px;
}
.logo-empresa-imagenes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Espaciado entre las imágenes */
  gap: 20px; /* Espacio entre imágenes */
}

.logo-empresa-imagen {
  width: 22%; /* Hace que cuatro imágenes quepan en cada fila */
  height: auto; /* Mantiene la proporción de las imágenes */
  margin-bottom: 20px;
  border-radius: 5px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para las imágenes */
  transition: transform 0.3s ease; /* Transición suave para agrandar las imágenes */
}

.logo-empresa-imagen:hover {
  transform: scale(1.1); /* Aumenta el tamaño al pasar el cursor */
}

.empresa-seccion {
  margin-bottom: 30px; /* Espacio entre secciones */
}

p {
  font-size: 1.4em; /* Texto de párrafo más grande */
  margin: 10px 0;
  text-align: justify; /* Justifica el texto para una presentación profesional */
  text-indent: 2em; /* Sangría en cada párrafo */
}

strong {
  color: $color-secundario; /* Color secundario para resaltar */
  font-weight: bold; /* Negrita */
}

ul {
  list-style-type: none; /* Sin puntos en la lista */
  padding: 0;
}

li {
  margin-bottom: 15px; /* Espacio entre elementos de la lista */
}

h3 {
  margin-top: 20px; /* Espacio superior para los subtítulos */
}

.empresa-enlace {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
